<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jasminkissingersheduleapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="School Schedule App"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JasminKissingerSheduleApp">
        <activity
            android:label="Assessment List"
            android:name=".main.ui.assessmentList"
            android:exported="false"
            android:parentActivityName=".main.ui.MainActivity"/>
        <activity
            android:label="Class List"
            android:name=".main.ui.classList"
            android:exported="false"
            android:parentActivityName=".main.ui.MainActivity"/>
        <activity
            android:label="Term List"
            android:name=".main.ui.termList"
            android:exported="false"
            android:parentActivityName=".main.ui.MainActivity"/>
        <activity
            android:name=".main.ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>